@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* ********************* ****/


/***/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

section {
    background-color: rgb(247, 249, 249);
    /* padding: 60px 6%; */
    padding: 120px 5%;
    /* background-color: #df1919; */
    transition: all 0.4s ease;
}

.main-contact {
    /* background: #685f78; */
    display: grid;
    /* width: 100%; */
    grid-template-rows: auto;
    /* grid-template-columns:500px,1fr; */
    /* grid-template-columns:57% 1fr; */
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.contact-left {
    /* background-color: #fb8721; */
}

.contact-left .contact-left-1 {
    /* background-color: yellow; */
    /* padding:20px 40px; */
    padding: 20px 55px;
}

.contact-left .contact-heading {
    background-color: #dcdce2;
    padding: 12px 17px;
    border-radius: 5px;
    color: orangered;
    font-size: 1rem;
    font-weight: 550;
    line-height: 1.3rem;
}

.contact-left-1 h2 {
    /* padding: 20px 20px 10px 40px; */
    padding: 20px 0;
    font-size: 3.1rem;
    font-weight: 700;
    color: rgb(1, 1, 107);
    /* background-color: ; */
}

.contact-left-1 h2 span {
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid red;
    font-size: 43px;
}

.contact-left-1 p {
    /* padding: 20px 20px 10px 40px; */
    padding: 15px 0px;
    font-size: 1.3rem;
    font-weight: 500;
    color: #9a9bb2;
}

.contact-left-1 .contact-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* padding: 40px; */
    padding-top: 20px;
    color: #9a9bb2;
    /* color: #d1d1d6; */
}

.contact-left-1 .contact-item .btn {
    padding: 20px 25px;
    font-size: 1rem;
    font-weight: 500;
    background: linear-gradient(45deg, #df1919, #fb8721);
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 20%;
}

.contact-left-1 .contact-item .btn:hover {
    /* background: #e0e0e0; */
    background: #e3420c;
}

.contact-left-1 .contact-item .contact-menu {
    /* background-color: #62e130; */
    display: contents;
}

.contact-left-1 .contact-item .contact-menu h3 {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 10px;
}

.contact-item .contact-menu h4 {
    color: orangered;
    font-size: 1.2rem;
    padding: 5px 10px;
}

.contact-item .contact-menu span:hover {
    background-color: rgb(240, 208, 196);
    padding: 20px;
    border-radius: 50%;
}

.contact-item .contact-menu .fa {
    color: white;
    background-color: orangered;
    font-size: 2rem;
    padding: 20px;
    border-radius: 50%;
    /*margin-right: 20px;*/
}


/*for contact*/

.contact-item .contact-menu #font {
    margin-left: 20px
}


/* Comment Section */

.contact-right {
    box-shadow: 0 0 25px 0 rgba(186, 183, 183, 0.4);
    border-radius: 10px;
    /* background-color: aqua; */
    /* margin-right: 22%; */
    /* background-color: white; */
}

.contact-right h2 {
    padding: 30px 20px 10px 40px;
    font-size: 2.3rem;
    font-weight: 750;
    color: rgb(1, 1, 107);
    text-align: center;
}

.contact-right h2 span {
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    background-clip: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1px solid red;
}

.main-comment {
    padding: 30px 40px 40px 40px;
    /* background-color: #df1919; */
}

.input-icons i {
    float: right;
}

.input-icons {
    position: relative;
    /* background-color: blue; */
    padding: 10px 40px 40px 40px;
}

.icon {
    font-size: 1rem;
    font-weight: 600;
    color: #9a9bb2;
    padding: 10px;
    min-width: 40px;
}

.subcomment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: aquamarine; */
    grid-column-gap: 20px;
}

.input-field {
    background-color: burlywood;
    width: 100%;
    padding: 10px;
    /* text-align: center; */
}


/* .subcomment  */

.input-icons span {
    /* background-color: #64e812; */
    display: flex;
    padding: 10px;
    box-shadow: 0 0 25px 0 rgba(186, 183, 183, 0.4);
    gap: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(247, 249, 249);
}

.input-icons span input {
    /* width: 135px; */
    /* background: transparent; */
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 550;
    line-height: 20px;
    transition: 0.8s;
    color: #9a9bb2;
    background-color: rgb(247, 249, 249);
    /* background-color: #fb8721; */
}

.input-icons span .label {
    /* background-color: #62e130; */
    align-items: center;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: #7f8082;
    padding: 10px;
    /* color: #9a9bb2; */
}

.input-icons span select {
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 550;
    /* line-height: 20px; */
    transition: 0.8s;
    /* background-color: #62e130; */
    /* margin-left: 40px; */
    /* font-size: 1rem; */
    font-weight: 600;
    color: #7f8082;
    background-color: rgb(247, 249, 249);
    /* color: #9a9bb2; */
    /* float: right; */
    min-width: 12vw;
}

.input-icons span select option {
    font-size: 0.7rem;
    font-weight: 600;
    color: #9a9bb2;
    /* background-color: #fb8721; */
    /* color: #9a9bb2; */
}

.input-icons span textarea {
    background-color: rgb(247, 249, 249);
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    transition: 0.8s;
    font-size: 1rem;
    font-weight: 550;
    /* background-color: #fb8721; */
}

.contact-btn {
    /* padding: 10px 15px; */
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    -webkit-text-fill-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 3s;
}

.contact-btn:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}


/* Media Query  */


/* Responsive  */

@media (max-width: 1410px) {
    section {
        /* padding: 60px 3%; */
        /* padding: 30px 3%; */
        transition: 0.2s;
    }
    .main-contact {
        /* height: 150vh; */
        /* background-color: blue; */
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    .subcomment {
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: aquamarine; */
        /* grid-column-gap: 20px; */
    }
}

@media (max-width: 1050px) {}

@media (max-width: 940px) {
    /* .main-contact{
    
    grid-template-columns: 1fr;
    gap: 1rem;
  }
 */
    .input-icons span select#cars {
        min-width: 61vw;
        padding-left: 5px;
    }
    .social a {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 600px) {
    .input-icons {
        padding: 1px;
    }
    .main-comment {
        padding: 0px;
    }
    select#cars {
        width: -webkit-fill-available;
    }
    .form {
        width: 105%;
    }
}

@media (max-width: 300px) {}

@media (max-width: 480px) {
    .contact-right h2 {
        font-size: 25px;
        font-weight: 700;
        color: navy;
    }
    .contact-right {
        margin-right: -2.5px;
        margin-top: -0.2rem;
    }
    .contact-left .contact-heading {
        display: none;
    }
    .contact-left-1 h2 {
        font-size: 2rem;
        text-align: center;
    }
    .contact-left-1 h2 span {
        font-size: 2rem;
        text-align: center;
    }
    .contact-left-1 p {
        font-size: 0.9rem;
        text-align: justify;
    }
    .contact-left-1 .contact-item {
        display: flex;
        font-size: 20px;
        flex-wrap: inherit;
        margin: -25px;
    }
    .contact-btn {
        margin: 0;
        position: absolute;
        top: 110%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    .col-md-7 {
        text-align: center;
        width: 70vw;
    }
    .col-md-7 p {
        text-align: justify;
    }
    .form input {
        text-align: center;
    }
    .btn-3 {
        width: 100%;
        display: block;
        position: relative;
        text-align: center;
        height: auto;
    }
    .contact-item .contact-menu h4 {
        font-size: 17px;
        padding-left: 0px;
    }
    .form {
        box-sizing: border-box;
        max-width: 100%;
    }
    .contact-left .contact-left-1 {
        padding: 10px;
    }
    .contact-left .contact-left-1 h2,
    .contact-left .contact-left-1 h2 span {
        font-size: 1.5rem
    }
    .contact-item .contact-menu span {
        background-color: rgb(240, 208, 196);
        margin-left: 20px;
        border-radius: 100%;
        padding: 15px;
    }
    .contact-item .contact-menu .fa {
        color: white;
        background-color: orangered;
        font-size: 1.5rem;
        padding: 15px;
        border-radius: 50%;
    }
    #subscribe h2 {
        font-size: 1.5rem;
        padding: 10px 0 10px 0;
    }
    #subb2.col-md-12 {
        position: relative;
        width: 111%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .contact-left-1 .contact-item .contact-menu h3 {
        font-size: 1.2rem;
        font-weight: 434;
        padding: -23px;
        padding-left: 1px;
        margin-bottom: -10px;
    }
    .input-icons span select {
        width: -moz-available;
    }
    .input-icons i.fa-bookmark {
        padding: 1.25rem;
    }
}


/* Mobile View  */

@media (max-width: 1000px) {
    .form {
        margin-right: -19%;
    }
}

@media (max-width: 663px) {}

@media (max-width:900) {
    .social {
        max-width: 30px;
    }
}


/* ********************** */

body {
    overflow-x: hidden;
}

:root {
    --color-orange: linear-gradient(45deg, #fa2424, #ed7e1e);
    --color-white: #ffffff;
    --box-shadow: 0px 0px 50px 0px rgb(0 0 0/10%);
}

.orange-color {
    position: relative;
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a {
    text-decoration: none !important;
}

img {
    width: 100%;
}

.btn-3 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    -webkit-text-fill-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 3s;
}

.btn-3:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

.btn-1:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

header {
    background: var(--color-white);
    z-index: 1 !important;
    box-shadow: rgb(49, 49, 49);
}

header .nav-item {
    padding: 0.5rem;
}

header .nav-item a {
    padding-top: 0.7rem;
    color: rgb(6, 0, 56) !important;
    font-size: 1.1rem;
    font-weight: 600;
}

header .navbar-brand {
    padding-left: 4rem;
}

header .navbar-nav {
    padding-right: 4rem;
}

header img {
    width: 120px;
}

header .nav-item a:hover {
    color: #ec4f01 !important;
}

.btn-1 {
    font-size: 1rem;
    font-weight: 600;
    padding: 0.8rem 2rem;
    background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
    -webkit-text-fill-color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 3s;
}

.btn-1:hover {
    background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

.underline {
    position: relative;
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid rgb(245, 69, 0);
}

.subscribe {
    position: relative;
    margin-bottom: -5rem;
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
    border-radius: 15px;
    color: #fff;
}

#subscribe h2 {
    font-weight: 700;
}

.form {
    background: #ffffff;
    padding: 5px 5px;
    border-radius: 10px;
}

.form input {
    border-radius: 5px;
    border-style: none;
    color: rgb(29, 29, 29);
    background-color: white;
    padding: 9px 2.5rem 10px 10px;
    outline: none;
    width: 264px;
}

.social a {
    margin-right: 0.5rem;
}


/**/

@media (max-width: 1025px) {
    .btn-3 {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    header .navbar-brand {
        padding-left: 3rem;
    }
    header .navbar-nav {
        padding-right: 3rem;
    }
    .form input {
        padding: 9px 1rem;
    }
    .contact-right h2 {
        text-align: center;
    }
    .input-icons span textarea {
        line-height: 8px;
    }
    .input-icons span {
        margin: 10px;
        padding-bottom: 0rem;
        padding-top: 3px;
    }
}

@media (max-width: 769px) {
    .form input {
        padding: 9px 2.6rem 10px 10px;
        width: 289px;
    }
}


/**
@media (max-width: 1025px){
    .btn-3{
        margin-left:32%;
    }
    
}**/

@media (max-width: 576px) {
    header .navbar-brand {
        padding-left: 1rem;
    }
    header .navbar-nav {
        padding-right: 1rem;
    }
    .form input {
        border-radius: 5px;
        border-style: none;
        color: rgb(29, 29, 29);
        background-color: white;
        padding: 9px 0.5rem;
        outline: none;
        width: 88%;
    }
    .contact-item .contact-menu h4 {
        font-size: 17px;
        padding-left: 0px;
    }
}

footer {
    display: relative;
    background-color: #000121;
    /* height: 80vh; */
}

.footer-container {
    padding-top: 9rem !important;
    padding: 1rem 4%;
}

.footer-end-container {
    padding: 1rem 6%;
     /* border: 1px solid white; */
   margin: 0 auto;
   text-align: center;
}

footer .row h6 {
    font-size: 1.5rem;
    font-weight: 700;
}

#hr-line {
    width: 60px;
    background: var(--color-orange);
    height: 1.5px;
}

footer .contact-us p i {
    background: var(--color-orange);
    font-weight: 700;
}

footer .contact-us p div i {
    background: var(--color-orange);
    font-weight: 700;
}

.footer-end {
    background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
}

.social {
    padding-right: 5px;
}

.social a {
    height: 37px;
    width: 37px;
    background: #fa2424;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    border-radius: 15px;
    margin-top: 20px;
    transition: 1s;
}


/**/

.social a:hover {
    background: #fff;
    color: #fa2424;
}
