@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

/* Navbar */

body {
  overflow-x: hidden;
}

:root {
  --color-orange: linear-gradient(45deg, #fa2424, #ed7e1e);
  --color-white: #ffffff;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0/10%);
}

.orange-color {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  text-decoration: none !important;
}


img {
  width: 100%;
}

.btn-3 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 3s;
}

.btn-1:hover {
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}


header {
  background: var(--color-white);
  z-index: 1 !important;
  box-shadow: rgb(49, 49, 49);
}

header .nav-item {
  padding: 0.5rem;
}

header .nav-item a {
  padding-top: 0.7rem;
  color: rgb(6, 0, 56) !important;
  font-size: 1.1rem;
  font-weight: 600;
}

header .navbar-brand {
  padding-left: 4rem;
}

header .navbar-nav {
  padding-right: 4rem;
}

header img {
  width: 120px;
}


header .nav-item a:hover {
  color: #ec4f01 !important;
}

.btn-1 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8rem 2rem;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 3s;
}

.btn-1:hover {
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

/* navbar end */




/* Strong Mindset start */

.strong_mindset-sec {
  margin: 10% 7%;
  display: flex;
}

.strong_mindset-content {
  width: 70%;
}

.strong_mindset-content h1 {
  font-size: 45px;
  font-weight: bold;
  color: rgb(1, 1, 68);
}

.outer{
  display: none;
}

.strong_mindset-content span {
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1px solid red;
  font-size: 46px;
}





.strong_mindset-content p {
  color: rgb(69, 68, 68);
  font-size: 19.5px;
  margin: 20px 0;
  line-height: 1.8;
  text-align: justify;
}

/*
.strong_mindset-content ul{
    list-style: none;
}

*/
.check-con {
  margin: 30px 0;
}

.check-on {
  display: flex;
}

.strong_mindset-content .check-on .fa {
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  padding: 7px;
  color: orangered;
  margin: 20px 0;
  margin-right: 20px;
  box-shadow: 1px 1px 12px 4px rgb(211, 207, 207);
}

.strong_mindset-content .check-on h3 {
  font-size: 20px;
  margin: 19px 0;
  line-height: 1.6;
  font-weight: 600;
}



.strong_mindset-img img {
  width: 97%;
  float: right;
}


.proof_of_work img {
  float: left;
}


/* hiring start */

.hiring-main {
  flex-direction: column;
  ;
}

.hiring-sec {
  display: flex;
}




.hiring-sec-box {
  height: 100%;
  width: 35%;
  background-color: #f9f9f9;
  padding: 50px;
  margin: 25px;
  box-shadow: 0px 0px 8px rgba(44, 42, 42, 0.692);
  border-radius: 15px;
}

.hiring-icon {
  display: flex;
}

.hiring-icon h3 {
  font-size: 100px;
  font-weight: bold;
  padding-left: 46%;
  background: linear-gradient(0deg, #fffefe, #c4c2c2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.hiring-sec-box i {
  border: 2px solid rgb(221, 224, 226);
  padding: 20px 22px;
  font-size: 72px;
  border-radius: 50%;
  margin-bottom: 20px;
  color: orangered;
  background-color: rgb(237, 239, 241);
}

.hiring-sec-box #icon-2 {

  padding: 20px 32px;

}


.hiring_h1 h1 {
  font-size: 54px;
}

.hiring_h1 h1 span {
  font-size: 54px;
}

.hiring_h1 p {
  width: 70%;
}

.hiring-sec-box h2 {
  font-size: 19.6px;
  font-weight: bold;
  margin: 20px 0;
  color: rgb(5, 5, 78);
}

.hiring-sec-box p {
  color: rgb(69, 68, 68);
  font-size: 20px;
  text-align: justify;
}

.hiring-box-1 {
  margin-top: 230px;
}

.hiring-box-2 {
  margin-top: 35px;
}

.hiring-box-3 {
  margin-top: -170px;
}

/* .hiring-img {
  height:100px;
} */

.hiring-img img {
  width: 65.5%;
  position: relative;
}


.heading {
  display: flex;
  justify-content: left;
  align-items: center;
  /* position: relative;
  top: 72%;
  left: 47%; */

  text-align: center;

}

.heading i {
  font-size: 28px;
  color: rgb(255, 0, 0);
  background-color: white;
  padding: 8px 10px;
  border-radius: 50%;
  margin: 12px 20px;
  box-shadow: 1px 1px 14px 4px rgb(211, 207, 207);
}

.heading h1 {
  color: white;
  font-size: 28px;
  margin: 20px 0;
  font-weight: bold;
  text-align: center;
}

/*  contact-more-info  start */

.contact-more-info {
  background-color: rgb(28 32 84);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:2em 1em;
}

.contact-more-info h3 {
  background-color: rgb(60, 77, 122);

  padding: 10px 18px;
  border-radius: 6px;
  font-size: 14px;
}

.contact-more-info h1 {
  text-align: center;
  font-size: 42px;
  margin-top: 25px;
  font-weight: bold;
}


.contact-more-info-btn button {
  padding: 18px 36px;
  margin: 40px 15px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.contact-more-info-btn .contact_us_btn {
  background-color: rgb(255, 38, 0);
  border: 2px solid rgb(255, 38, 0);
}

.contact-more-info-btn .contact_us_btn:hover {
  background-color: rgb(28 32 84);
  color: rgb(255, 38, 0);
}

.contact-more-info-btn .explore_btn {
  background-color: rgb(28 32 84);
  border: 2px solid white;
}

.contact-more-info-btn .explore_btn:hover{
  background-color: rgb(28 32 84);
  color: rgb(255, 38, 0);
  border: 2px solid rgb(255, 38, 0);
}

/* Testinomial */



/* FAQ START */

.container-main {
  display: flex;
  justify-content: center;
  margin: 150px 0px;
  margin-bottom: 50px;
}


.container-main .contact-heading-faq{
  background-color: #e8e8eb;
  padding: 10px 15px;
  border-radius: 5px;
  color: orangered;
  font-size: 1rem;
  font-weight: 550;
  margin: 0px 140px;
}
.accordion {
  width: 72%;
  max-width: 1000px;
  margin: 2rem auto;

}

.ac-main h1 {
  margin-top: 20px;
  font-size: 47px;
  font-weight: bold;
  color: rgb(1, 1, 68);
  text-align: center;
}

.ac-main h1 span {
  font-size: 48px;
  background: -webkit-linear-gradient(45deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid red;
}

.ac-main p {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0;
  margin-left: 15%;
}

.accordion-item {
  background-color: #fff;
  color: #050237;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;

  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}




.accordion-item-header.active {
  /* background-image: linear-gradient(45deg, #fa2424, #ed7e1e);*/
  background-color: rgb(251, 37, 13);
  color: white;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}




.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  color: rgb(251, 37, 13);
}

.accordion-item-header.active::after {
  content: "\2212";
  color: white;
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  color: rgb(99, 99, 99);
  font-weight: 500;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}



.img {
  width: 40%;
  margin: 80px 0;
  float: left;
}

.img img {
  width: 95%;
  /* margin-left:-40px; */
}


/* FAQ END */





/* Responsive code*/

@media only screen and (min-width: 1780px) {
  .proof_of_work img {
    margin-top: -8%;
}
}
@media only screen and (min-width: 1580px) {

  /* .heading {
    top: 140%;
  } */

  .container-main .contact-heading-faq{
  display: none;
  }

}

@media only screen and (max-width: 1527px) {

  /* .heading {
    top: 100%;
    left: 47%;
  } */

}

@media only screen and (max-width: 1450px) {

  .hiring-icon h3 {
    font-size: 100px;
    padding-left: 22%;
  }

  br {
    display: none;
  }

  .container-main .contact-heading-faq{
    display: none;
    }

  /* Strong Mindset start */

  .strong_mindset-sec {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .strong_mindset-sec + .strong_mindset-sec{
    margin-top: 0 !important;
  }

  .strong_mindset-content {
    width: 100%;
  }

  .mr-bottom-3{
    margin-bottom: 4em !important;
  }

  .strong_mindset-content h1{
    font-size: clamp(1.6rem,calc(-0.7678rem + 4.5vw),3.5rem);
  }

  .outer{
    display: none;
  }

  .strong_mindset-content span {
    font-size: clamp(1.6rem,calc(-0.7678rem + 4.5vw),3.5rem);
  }

  .strong_mindset-content p{
    font-size: clamp(0.8rem,calc(-0.7rem + 2.2vw),1.2rem);
  }

  .proof_of_work_main {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .proof_of_work{
    margin:auto 0;
  }

  /*  Strong Mindset Second Part start */

  .check-con h3{
    font-size: clamp(1rem , calc( -0.656rem + 2vw ) ,3rem) !important;
  }

  .float-right img{
    float:right;
  }

  /* hiring start */

  .hiring-sec {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    gap:2em;
    margin-top:0.7em;
  }

  .hiring-sec-box {
    margin:0;
    height:auto;
    width: 45%;
    flex-grow: 1;
  }

  .hiring-icon{
    align-items: center;
    column-gap: 2rem;
  }

  .hiring-icon .fa{
    font-size: 2rem;
    align-self:center;
    margin-bottom: 0;
  }

  .hiring-sec-box:nth-child(2) .hiring-icon .fa{
    padding:0.65em 0.85em !important;
  }

  .hiring-icon h3 {
    font-size: 4rem;
    padding:0;
  }

  .hiring-sec-box p {
    font-size: clamp(1rem , calc( -0.6678rem + 1.8vw ) , 2rem);
  }

  .hiring-sec-box h2 {
    font-size: clamp(1.2rem , calc( -0.5678rem + 2.5vw ) , 2.3rem) ;
  }

  .strong_mindset-img{
    display: grid;
    position: relative;
    margin:0;
    padding:0;
    padding-top: 4em;
    width:30em;
  }

  .strong_mindset-img img{
    width:100%;
    background-color: #050237;
    border-radius: 10px;
  }

  .heading .fa{
    box-shadow: none;
  }

  .heading {
    position: absolute;
    bottom:4.8em;
    /* justify-content: center; */
    z-index:999;
  }

  .heading h1{
    font-size: 1.6rem !important;
    color:white;
    width:100%;
  }

  .contact-more-info h1{
    font-size: clamp(1.5rem,calc( -7.435rem + 2.8vw ),3.5rem) !important;
  }

  .looking-to {
    flex-direction: column;
  }
}

@media (max-width:1000px){
  .hiring-sec-box{
    width:70%;
  }
}

@media only screen and (max-width: 1270px) {

  /* .hiring-img {
    height: 800px;
  } */

  /* FAQ */
  .container-main {
    flex-direction: column;
    margin: 10px 50px;
  }

  .img {
    width: 100%;
    margin: 10px 0;
    float: none;
  }

  .img img {
    width: 90%;
  }
}

@media only screen and (max-width: 870px) {
  /* strong mindset section starts */
  .strong_mindset-sec {
    margin: 15% 7%;
  }

  .strong_mindset-content h1{
    text-align: start;
    font-size: clamp(2rem,calc(-0.6678rem + 6vw),3.5rem);
  }

  .strong_mindset-content span{
    font-size: clamp(2rem,calc(-0.6678rem + 6vw),3.5rem);
  }

  .inner{
    display: none;
  }

  .outer{
    display: block;
  }

  /* .hiring-img {
    height: 800px;
  } */

}

@media (max-width:760px) {
  .proof_of_work_main{
    flex-direction: column;
  }

  .flex-col{
    flex-direction: column-reverse;
  }

  .proof_of_work{
    display: grid;
    justify-content: center;
    align-content: center;
  }

  .proof_of_work img{
    width:60%;
    margin:0 auto;
  }
}

@media only screen and (max-width: 550px) {
  .strong_mindset-sec {
    margin: 20% 7%;
  }

  .strong_mindset-img{
    padding-top: 2em;
    width: 20em;
  }
    
  .strong_mindset-img .heading{
    bottom:3rem;
    font-size: 1rem !important;
  }

  .strong_mindset-img .heading h1{
    font-size: 1rem !important;
  }
   

  .strong_mindset-content .check-on .fa {
    padding: 6px;
    margin-right: 15px;
  }

  .strong_mindset-content .check-on h3 {
    font-size: 15px;
  }

  .strong_mindset-sec {
    margin-bottom: 1.5em !important;
  }

  .pad-top{
    padding-top: 1.4em;
  }

  /* hiring start */

  .hiring-sec-box{
    padding:2em 1.4em;
  }

  .hiring-sec-box h2 {
    font-size: clamp(0.8rem , calc( -0.5678rem + 2.5vw ) , 1.8rem);
  }

  .hiring-sec-box p {
    font-size: clamp(0.6rem , calc( -0.5678rem + 2.5vw ) , 1.8rem);
  }

  .hiring_h1 h1 {
    font-size: 38px;
  }

  .hiring_h1 h1 span {
    font-size: 38px;
  }

  .hiring-icon{
    display: none;
  }

  .hiring-sec-box h2 {
    margin-top:0;
   }

  /* .hiring-img {
    height: 300px;
  } */


  .heading i {
    font-size: 1rem;
    margin-right: 0.5em;
    /* padding: 2px 3px;
    margin: 2px 10px; */
  }

  .heading h1 {
    font-size: 9px;
    margin: 0px 0;
  }

  .contact-more-info-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contact-more-info .contact_us_btn{
    margin:0;
    margin-top: 1em;
  }

  .contact-more-info .explore_btn{
    margin:0;
    margin-top: 1em;
  }


  .contact-more-info-btn button {
    padding:0.5em 1em;
  }

  .ac-main h1 {
    margin-top: 20px;
    font-size: 22px;
  }

  .ac-main h1 span {
    font-size: 23px;
  }


  .accordion {
    width: 100%;
    max-width: 1000px;
    margin: 2rem 10px;

  }

}

@media only screen and (max-width: 400px) {

  .strong_mindset-sec {
    margin: 28% 7%;
    margin-bottom: -20%;
    display: flex;
  }

  .hiring-main {
    margin-bottom: 20%;
  }

  .strong_mindset-content h1 {
    font-size: 22px;
  }

  .strong_mindset-content span {
    font-size: 23px;
  }

  .strong_mindset-content p {
    font-size: 14px;

  }

  .strong_mindset-content .check-on .fa {
    font-size: 14px;
    padding: 4px;
    margin: 10px 0;
    margin-right: 15px;

  }

  .strong_mindset-content .check-on h3 {
    margin: 11px 0;
    font-size: 14px;
  }

  .bottom_space {
    margin-bottom: -40px;
  }

  .strong_mindset-img{
    width: 100%;
  }

  .hiring_h1 h1 span {
    font-size: 23px;
  }

  .hiring-img {
    display: none;
  }

  .hiring_h1 p {
    width: 100%;
  }

  .contact-more-info {
    height: 400px;
  }

  .ac-main h1 {
    font-size: 21px;
    margin: 0 -30px;
    margin-top: 40px;
  }

  .ac-main p {
    text-align: center;
    margin-left: 0%;
    font-size: 14px;
  }

  .accordion-item-header {
    font-size: 14px;
  }

  .accordion-item-body {
    font-size: 14px;
  }

  .img {
    width: 100%;
    margin: 10px 0;
    float: none;
  }

  .img img {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {


}



/* Footer Start */

.underline {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid rgb(245, 69, 0);
}

.subscribe {
  position: relative;
 
  margin-bottom: -5rem;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  border-radius: 15px;
  color: #fff;
}

#subscribe h2 {
  font-weight: 700;
}

.form {
  background: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;

}

.form input {
  border-radius: 5px;
  border-style: none;
  color: rgb(29, 29, 29);
  background-color: white;
  padding: 9px 2.5rem;
  outline: none;
}

.social a {
  margin-right: 0.5rem;
}

@media (max-width: 991px) {

  header .navbar-brand {
    padding-left: 3rem;
  }

  header .navbar-nav {
    padding-right: 3rem;
  }

  .form input {
    padding: 9px 1rem;
  }
}

@media (max-width: 769px) {
  .form input {
    padding: 9px 2.6rem;
  }
}


@media (max-width: 576px) {

  header .navbar-brand {
    padding-left: 1rem;
  }

  header .navbar-nav {
    padding-right: 1rem;
  }

  .form input {
    border-radius: 5px;
    border-style: none;
    color: rgb(29, 29, 29);
    background-color: white;
    padding: 9px 1.5rem;
    outline: none;
  }
}


footer {
  display: relative;
  background-color: #000121;
  /*  height: 80vh;*/
}

.footer-container {
  padding-top: 9rem !important;
  padding: 1rem 4%;
}

.footer-end-container {
  padding: 1rem 6%;
   /* border: 1px solid white; */
   margin: 0 auto;
   text-align: center;
}

footer .row h6 {
  font-size: 1.5rem;
  font-weight: 700;
}

#hr-line {
  width: 60px;
  background: var(--color-orange);
  height: 1.5px;
}

footer .contact-us p i {
  background: var(--color-orange);
  font-weight: 700;
}

footer .contact-us p div i {
  background: var(--color-orange);
  font-weight: 700;
}

.footer-end {
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
}

.social {
  padding-right: 5px;
}

.social a {
  height: 37px;
  width: 37px;
  background: #fa2424;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 15px;
  margin-top: 20px;
  transition: 1s;
}

.social a:hover {
  background: #fff;
  color: #fa2424;
}

/* Footer end */