@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Zanabazar+Square&display=swap');


/* Common */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --color-orange: linear-gradient(45deg, #fa2424, #ed7e1e);
  --color-white: #ffffff;
  --box-shadow: 0px 0px 50px 0px rgb(0 0 0/10%);
}

.orange-color {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.center-align {
  justify-content: center;
  margin: auto;
}

.underline {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 2px solid rgb(245, 69, 0);
}


#nav-courses-one {
  display: none;
}

a {
  text-decoration: none !important;
}

section:not(.contact-us, .footer-container, #courses, .section-4, .carousel-inner) {
  padding: 1rem 6%;
}

h1,
h3,
h4,
h5,
h6 {
  color: rgb(1, 1, 68)
}

img {
  width: 100%;
}



/* Header */
header {
  background: var(--color-white);
  z-index: 1 !important;
  box-shadow: rgb(49, 49, 49);
}

header .nav-item {
  padding: 0.5rem;
}

header .nav-item a {
  padding-top: 0.7rem;
  color: rgb(6, 0, 56) !important;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width:991px) {
  #nav-courses-one {
    display: block;
  }

  #nav-courses-two {
    display: none;
  }

  header .nav-item a,
  header button {
    font-size: 0.9rem;
  }

  #nav-courses-one .dropdown-toggle+.dropdown-menu>.nav-link {
    padding-left: 1.5rem;
    padding-top: 0;
  }

  .dropdown-menu[aria-labelledby="navbarDropdown-subcourses"] {
    border-radius: 0;
  }
}


header .navbar-brand {
  padding-left: 4rem;
}

header .navbar-nav {
  padding-right: 4rem;
}

header img {
  width: 120px;
}


header .nav-item a:hover {
  color: #ec4f01 !important;
}

.btn-1 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8em 2em;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 3s;
}

.btn-1:hover {
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

.btn-2:hover {
  background: #03003f;
  -webkit-text-fill-color: #ffffff;
}

.btn-2 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.8em 2em;
  background: transparent;
  -webkit-text-fill-color: #03003f;
  border-color: #03003f;
  border-radius: 5px;
}

@media (max-width:1000px) {

  .btn-1,
  .btn-2 {
    padding: 0.6em 1em;
  }
}

@media (max-width:900px) {

  .btn-1,
  .btn-2 {
    padding: 0.4em 0.7em;
  }
}


/* Carousel section */

.about-slide {
  padding: 0;
  margin: 0 0 0;
  color: #fa2424;
}

.imginfo {
  padding-top: 0;
  position: relative;
  left: 50%;
  bottom: 5rem;
}

.infoimg {
  padding-top: 0;
}

.responsive {
  display: none;
}

.heading2 {
  font-family: 'Noto Sans Zanabazar Square', sans-serif;
}

.heading2_underline {
  position: relative;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heading2_underline::before {
  content: "";
  position: absolute;
  bottom: 30px;
  width: 100%;
  height: 2px;
  background: rgb(245, 69, 0);
}


.special {
  background: linear-gradient(45deg, #fa2424, #fb8721);
  /* background: -webkit-linear-gradient(#eee, #333); */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  /* position: absolute; */
}

.carousel-inner {
  padding: 1rem 6%;
}

@media (max-width: 576px) {
  header .navbar-brand {
    padding-left: 0rem;
  }

  .carousel-inner {
    padding: 0 15px;
  }
}

.home-btn {
  display: flex;
  flex-direction: row;
}

.home-btn .btn-1 {
  margin-right: 1em;
}

.home-section .row .col-md-6:not(.infoimg) {
  padding: 4.5rem 1rem 1rem;
}

.home-section .row h2 {
  margin-top: 35px;
  font-size: 3.8rem;
  font-weight: bold;
  color: #040052;
}

.home-section .row p:not(.about-slide) {
  font-size: 1.1rem;
  font-weight: 500;
  padding: 1rem 0rem;
  color: #5e5e5e;
  margin-right: 4rem;
  text-align: justify;
}

.home-section .row img {
  width: 100%;
}


@media (max-width:768px) {
  .imginfo {
    position: inherit;
    left: 0;
  }

  header .navbar-brand {
    padding-left: 1rem;
  }
}

@media (max-width: 600px) {
  .home-section .row h2 {
    font-size: 3.3rem;
  }

  .home-section .row h2 br {
    display: none;
  }

  .responsive {
    display: block;
  }

  .laptop {
    display: none;
  }

  .home-section .row p:not(.about-slide) {
    margin-right: 0;
    text-align: justify;
  }
}

@media (max-width: 474px) {
  .home-section .row h2 {
    font-size: 2.8rem;
  }

  .home-section .row p:not(.about-slide) {
    font-size: 15px;
  }

  .btn-1,
  .btn-2 {
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  .home-section .row h2 {
    font-size: 28px;
  }

  .heading2_underline::before {
    content: "";
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 2px;
    background: rgb(245, 69, 0);
  }
}


/* Boxes(Descriptions) */
.boxes {
  padding: 4rem 0% 6rem;
  overflow-x: hidden;
}

.icons i {
  border-radius: 50%;
  padding: 20px 20px;
  font-size: 48px;
  /* width: 80px; */
  height: auto;
  color: rgb(255, 255, 255);
  background-color: #fb5021;
}

.row_first {
  padding: 60px 80px;
  border: 1px solid rgba(100, 100, 100, 0.362);
  width: 50%;
  color: #03003f;
  position: relative;
}

.div_text {
  text-align: center;
  justify-content: center;
  margin: auto;
}

.div_text:hover {
  color: #fff !important;
}

.div_text p {
  transform: translateX(36%);
}

.div_text h2 {
  padding: 15px;
  font-size: 1.7rem;
  font-weight: 700;
}

.row_first p {
  font-size: 1rem;
  font-weight: 500;
}

.row_first:hover {
  background-image: url("../images/wave.png");
  background-position: center;
  background-size: cover;
  color: #f9eded !important;
}


.virtues-heading {
  font-size: 23px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .div_text p {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {
  .div_text h2 {
    font-size: 23px;
  }

  .row_first p {
    font-size: 14px;
  }

  .row_first p {
    padding-left: 18px;
    padding-right: 18px;
  }

  .boxes {
    padding-bottom: 0;
    padding-top: 0;
  }

  .virtues-heading {
    font-size: 20px;
    font-weight: 700;
  }

  .virtues-sub-heading {
    font-size: 15px;
  }

}

/* Courses */

.courses {
  margin-bottom: 5rem;
}

.courses h1 {
  text-align: center;
  font-weight: 700;
  position: relative;
  top: 20px;
}

.courses p.sub-heading {
  width: 70%;
  margin: 2rem auto 3rem;
  text-align: center;
  font-weight: 500;
  color: #757575;
}

.blog-card-deck {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2em;
}

.blog-card {
  width: 30%;
}

.blog-card .card-body .card-subtitle {
  color: #5e5e5e;
  margin-top: 1rem;
}

.blog-card .card-body .card-title {
  padding: 1rem 0rem 0.8rem;
  font-weight: 700;
  color: #03003f;
}

.blog-card {
  position: relative;
}

.card-body .card-title {
  padding-bottom: 0.4em !important;
  margin-bottom: 0;
}

.blog-card .card-body p {
  color: #5e5e5e;
  padding-bottom: 1rem;
}

.blog-card {
  position: relative;
}

.blog-card,
.card-body a {
  font-weight: 600;
}

.card-body a {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action {
  position: relative;
  float: right;
  margin-top: -30px;
  margin-right: 25px;
  z-index: 2;
  color: #E26D5C;
  background: #fff;
  border-radius: 10%;
  padding: 20px;
  font-size: 15px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

.card-action:hover {
  color: #fff;
  background: #E26D5C;
  /* -webkit-animation: pulse 1.5s infinite; */
}


.fa-check {
  font-weight: 700 !important;
  color: #E26D5C;
  background: #fff;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width:1146px) {
  .card-body .card-subtitle {
    margin-top: 0 !important;
    font-size: 0.8rem;
  }

  .card-body .card-title {
    font-size: 1rem;
    margin-bottom: 0;
    padding-bottom: 0;

  }

  .card-body .card-text {
    font-size: 0.8rem;
  }

  .card-body a {
    font-size: 0.8rem;
  }
}

@media (max-width:832px) {
  .blog-card-deck {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .card-deck {
    display: flex;
    overflow-x: auto;
  }
}

@media (max-width: 576px) {
  .courses {
    padding-left: 15px;
    padding-right: 15px;
  }

  .courses h1 {
    font-size: 28px;
    position: relative;
    top: 20px;
  }

  .courses p.sub-heading {
    font-size: 16px;
    text-align: justify;
    width: 100%;
    margin-bottom: 2rem;
  }
}

/* Enhance skill section */
.section-3 .horizon h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: #1E1A52;
}

.decrease-font-size-small {
  font-size: clamp(1rem, calc(-0.256rem + 4vw), 3.5rem) !important;
}

.decrease-font-size-bigger {
  font-size: clamp(1rem, calc(-0.256rem + 6vw), 3.5rem) !important;
}

.decrease-font-size-bigger-xl {
  font-size: clamp(1rem, calc(-0.156rem + 7vw), 3.5rem) !important;
}

/** align images center class **/
.align-center {
  margin: auto 0;
}

.section-3 .user-image {
  width: 32em;
  position: relative;
}

.user-image-smaller {
  width: 25em;
}

.user-image-medium-small {
  width: 28em;
}

.user-image-small {
  width: 30em;
}

.section-3 .horizon .horizon-sub-heading {
  color: #5e5e5e;
  font-weight: 500;
  font-size: 1.1rem;
  justify-content: center;
  padding-right: 2rem;
  line-height: 1.8;
}

.section-3 .horizon .check {
  padding-bottom: 1rem;
  border-bottom: 1.5px solid #949494;
}

.section-3 .horizon .check p,
.section-3 .horizon .col-md-7 .queries p {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000121;
}

.section-3 .horizon .col-md-7 .queries a {
  font-size: 1.1rem;
}

.para-width-medium {
  width: 80%;
}

/* .section-3 .horizon .row .mentors{
  border-right: 1.5px solid #949494;
} */

.section-3 .horizon {
  border-bottom: 1.5px solid #949494;
}

.section-3 .horizon .mentors h4 {
  font-size: 1.5rem;
}

.section-3 .horizon .mentors span {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  top: 7px;
}

.section-3 .explore-btn {
  position: relative;
  margin-top: 1.5rem;
  top: 1.5rem;
  margin-bottom: 1rem;
  padding: 1em 1.5em;
}

.section-3 .horizon-sub-heading b {
  color: #000000;
}

.queries p {
  margin-bottom: 0;
}

.queries a {
  position: relative;
  /* bottom: 10px; */
}

.horizon .row .mentors h4 {
  text-align: center;
}

.mentors-outer-div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 576px) {
  .section-3 .horizon h2 {
    font-size: 25px;
    margin-top: 35px;
  }

  .section-3 .horizon .horizon-sub-heading {
    font-size: 15px;
    text-align: justify;
  }

  .horizon .row p {
    padding-left: 0;
  }

  .horizon .queries {
    text-align: center;
  }

  .mentors-outer-div {
    margin-top: 0;
  }

  .section-3 .horizon .mentors span {
    font-size: 28px;
    top: 4px;
  }

  .section-3 .horizon .mentors h4 {
    font-size: 21px;
  }

  .queries-outer-div {
    bottom: 15px;
  }

  .section-3 .text-left .button {
    text-align: center;
  }

}


/* How we work section */
section.work {
  padding: 3rem 8rem 6rem;
  text-align: center;
}

section.work h1 {
  font-weight: 700;
}

section.work p.sub-heading {
  margin-top: 1.5rem;
  width: 70%;
  color: #5e5e5e;
}

section.work .contents {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 5rem;
  overflow: hidden;
}

section.work .contents .steps {
  position: relative;
}

section.work .contents .steps:not(.last)::after {
  content: url('../images/arrow.png');
  position: absolute;
  display: inline-block;
  top: -40px;
  right: -120px;
}

section.work .contents .steps img {
  width: 80%;
  margin-bottom: 1rem;
}

section.work .contents h5 {
  font-weight: 700;
}

section.work .contents p {
  color: #5e5e5e;
}

@media (max-width: 576px) {
  section.work h1 {
    font-size: 25px;
  }

  section.work p.sub-heading {
    font-size: 15px;
    width: 90vw;
    text-align: justify;
  }

  section.work {
    padding: 3rem 20px 6rem;
  }

  section.work .contents .steps img {
    max-width: 8em;
  }

  /* section.work .contents{
    grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
    grid-gap: 1.3rem;
  } */
  section.work .contents h5 {
    font-size: 18px;
  }

  section.work .contents p {
    font-size: 14px;
    text-align: justify;
  }
}


@media (max-width: 1298px) {
  section.work .contents .step-4::after {
    display: none !important;
  }
}

@media (max-width: 1110px) {
  #baoiam-info.section-3.mb-5 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
  }

  #baoiam-info.section-3.mb-5 .user-image {
    width: 25em;
  }

  #baoiam-info .mr-lr-0 {
    column-gap: 2em;
    margin: auto 0 !important;
    justify-content: center;
  }

  #baoiam-info .align-center {
    max-width: 45% !important;
  }

  #baoiam-info .col-sm-12:last-child {
    margin: 0 !important;
  }

  #virtues-protocol-section {
    display: none;
  }

  #virtues-row.row {
    display: grid;
    place-items: center;
    width: 100%;
    margin: 0;
    padding: inherit 0;
  }

  #virtues-row.row>.col-sm-12 {
    max-width: 100%;
  }

  #virtues-row.row .row {
    justify-content: center;
    column-gap: 2em;
  }

  #virtues-row.row .row.mx-1 {
    justify-content: flex-start;

  }
}

@media (max-width: 1000px) {
  section.work .contents .step-3::after {
    display: none !important;
  }

  section.work .contents .step-4::after {
    display: inline-block !important;
  }
}

@media (max-width: 720px) {
  section.work .contents .steps:not(.last)::after {
    display: none;
  }

  section.work .contents .step-4::after {
    display: none !important;
  }
}

/* Expert section */
section.expert {
  background-image: linear-gradient(to right, #f22222, #f3461c, #f35e19, #f37319, #f2851e);
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  padding: 5rem auto !important;
  margin-bottom: 5rem;
}

section.expert h1 {
  font-weight: 700;
  font-size: 2.8rem;
}

section.expert p.line {
  position: relative;
  display: inline-block;
}

section.expert p.line::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 35px;
  width: 2px;
  height: 60px;
  background-image: linear-gradient(to top, #e23b1c, #de0045, #ca0067, #a80b83, #782c96);
}

section.expert .about {
  background-color: #fff;
  position: relative;
  text-align: center;
  bottom: 25px;
  color: #757575;
  /*   width: 90%;
  left: 12px; */
  padding: 1rem 0 0.3rem;
}

section.expert .about h4 {
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
}


@media (max-width: 576px) {
  section.expert {
    padding: 1rem 0;
    margin-bottom: 1rem;
  }

  section.expert .wrapper {
    padding: 0 24px;
  }

  section.expert .wrapper .row .col-lg-12,
  section.expert .wrapper .row .row .col-lg-6 {
    padding: 0;
  }

  section.expert .text {
    font-size: 13px;
    text-align: justify;

  }

  section.expert h1 {
    font-size: 26px;
  }

  section.expert p.line::before {
    display: none;
  }
}


/* Contact us section */
section.contact-us {
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.fa-solid.fa-phone-volume {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  background-color: #f12721;
  border-radius: 100%;
}

section.contact-us .left {
  background-image: linear-gradient(to right, #fa2424, #fb471f, #fc601c, #fc751c, #fb8721);
  padding: 2.5rem 0;
  color: #fdecbe;
  width: 100%;
}

section.contact-us .left h1,
section.contact-us .left p {
  width: 78%;
}

section.contact-us .left h1 {
  font-weight: 700;
  color: #fff;
  font-size: 2.2rem;
  padding-bottom: 15px;
}


section.contact-us .right .outer {
  margin: 12% 0;

}

section.contact-us .right img {
  filter: drop-shadow(0 0 5px #fff);
  width: 50px;
  position: relative;
  top: 15px;
  margin-bottom: 15px;
  aspect-ratio: 5/4;
}

section.contact-us .button .btn-1 {
  padding: 1rem 4rem;
}

section .contact-us-box {
  display: grid;
  align-items: center;
  padding: 1.8em;
  padding-left: 7.5em;
  background-color: #040052;
  width: 100%;
  color: white;
}

.contact-us-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20%;
  width: 90%;
}

.contact-us-number {
  display: flex;
  align-items: center;
  width: max-content;
  column-gap: 1rem;
}

.contact-us-number p {
  margin: 0 !important;
}


.orange-bg {
  background-image: linear-gradient(to right, #f12721, #f3471c, #f45f19, #f57319, #f5851e);
  color: #fdecbe !important;
  border-radius: 5px;
  width: 100%;
}

@media (max-width: 576px) {
  section.contact-us .left {
    padding-left: 25px;
    padding-right: 25px;
  }

  section.contact-us .left h1 {
    font-size: 25px;
    width: 100%;
  }

  section.contact-us .left p {
    width: 100%;
    font-size: 15px;
  }
}

/* Virtues and Protocols */

p.virtues-sub-heading {
  font-size: 1rem;
  color: #5e5e5e;
  font-weight: 500;
}

.virtues i:hover {
  cursor: pointer;
}

#virtues-tab-1 .fa {
  color: red;
}

#virtues-tab-2 .fa {
  color: white;
}

#virtues-tab-3 .fa {
  color: white;
}

#virtues-tab-1-content {
  display: block;
}

#virtues-tab-2-content {
  display: none;
}

#virtues-tab-3-content {
  display: none;
}

/* Home Blog Section */

/* section2 */
#courses {
  transition: all 0.4s ease;
}

.we__offer {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.we__offer_card {

  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 25px 0 rgba(71, 69, 69, 0.4);
  transition: all 0.3s ease;
  width: auto;
  margin-bottom: 30px;
  height: 620px;
}


.we__offer_card .course_img {
  position: relative;
}

.we__offer_card .course_img .img-text {
  position: absolute;
  background-color: orangered;
  width: 100%;
  padding: 10px;
  bottom: 0;
  left: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;

}

.we__offer_card .course_img .img-text .text {
  color: white;
  font-size: 1.1rem;
  font-weight: 700;
  padding-right: 5px;
}

.we__offer_card .course_img img {
  width: 100%;
  object-position: center;
  object-position: cover;
  aspect-ratio: 16/10;
  border-bottom: 2.1rem solid transparent;
}

.we__offer_card a {
  position: absolute;
  bottom: 1.5em;
  right: 1.4em;
}

.we__offer_content {
  padding: 30px 20px;
}

.we__offer_content .blog-icon {

  font-size: 1.1rem;
  font-weight: 500;
  color: #9a9bb2;
  line-height: 1.6;
  gap: 1rem;
}

.we__offer_content .blog-icon span {
  margin-right: 10px;
}

.we__offer_content .blog-icon i {
  color: orangered;
  text-align: center;

}

.we__offer_content .blog-icon .fa {
  padding-right: 10px;
}

.we__offer_content .blog-icon .fa-regular {
  padding-right: 10px;
  border-left: 1.5px solid #9a9bb2;
  padding-left: 20px;
}

.we__offer_content h1 {
  display: inline;
  font-size: 1rem;
  font-weight: 500;
  text-align: justify;
}

.we__offer_content .subcontent p {
  color: rgb(71, 71, 110);
  padding: 0px 0px 20px 10px;
  font-weight: 500;
  text-align: justify;
}

.we__offer_content h2 {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.7rem;
  padding: 20px 12px;
  color: rgb(71, 71, 110);
}

.we__offer_content a {
  color: rgb(71, 71, 110);

}

.we__offer_content a:hover {
  color: orangered;
}

.course_btn {
  padding-bottom: 20px;
  font-weight: 650;
  font-size: 1.1rem;
  margin-left: 2%;
}

.course_btn span {
  border-bottom: 1.5px solid #868689;
}

.course_btn:hover {
  transition-duration: 1sec;
  cursor: pointer;
}


/* swiper */


.swipe {
  /* background-color: #6221fb; */
  padding: 0 5%;
}

.swipe-heading p {
  text-align: center;
}

.swipe-heading h1 {
  text-align: center;
  font-weight: 700;
}

@media (max-width: 576px) {
  .swipe-heading h1 {
    font-size: 25px;
  }

  .swipe-heading p {
    font-size: 15px;
    text-align: justify;
  }
}

.we__offer .swipe-heading {
  text-align: center;
  /* background-color: #fb21b6; */
}

.we__offer .swipe-heading h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #040052;
  background-color: #782c96;
}

.swipe-heading h1 span {
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  /* background-color: white; */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-bottom: 1.5px solid orangered;
}

.we__offer .swipe-heading p {
  font-size: 1.1rem;
  color: rgb(159 159 167);
  padding: 10px 0px 20px 10px;
  font-weight: 500;

}

.new {
  padding: 40px;
}

.nav-courses-list {
  display: none;
  position: absolute;
  list-style: none;
  padding: 20px 0;
  width: 300px;
  top: 100%;
  left: -200%;
  background-color: white;
  color: black;
  box-shadow: 10px 10px 20px rgba(19, 18, 18, 0.2);
}

.fa-location-arrow {
  font-size: 12px;
}

.nav-courses-list>li>a {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  position: relative;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 150ms ease;
}

.nav-courses-list>li>a:hover {
  color: orangered !important;
  background-color: rgba(241, 214, 164, 0.603);
}

.nav-courses-list>li .bar {
  content: "";
  position: absolute;
  height: 100%;
  width: 0.3em;
  background-color: white;
  left: 0;
}

.nav-courses-list .sub-courses-list {
  display: none;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  background-color: white;
  padding: 1em 2em;
  padding-left: 1em;
  margin: 0;
  position: absolute;
  top: 0;
  left: 100%;
  max-height: 25em;
  width: 30em;
  column-gap: 0;
  transition: all 100ms ease-in;
}

.nav-courses-list .sub-courses-list li {
  padding: 0.5em 1.2em;
  max-width: 15em;
  line-height: 2em;
  cursor: pointer;
}

.nav-courses-list .sub-courses-list li:hover {
  background-color: rgba(248, 183, 121, 0.603);
}


.fa-location-arrow {
  transform: rotate(45deg);
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px !important;
  color: orangered;
}

.swiper-pagination-bullet {
  background-color: orangered !important;
}

.swiper-pagination-bullet-active {
  background-color: red !important;
}



/* Resonsive */

@media (max-width: 1300px) {
  .we__offer_card {
    height: 700px;
  }
}


@media (max-width: 1220px) {
  .we__offer_card {
    height: 600px;
  }
}

@media (max-width: 1000px) {
  .we__offer_card {
    height: 650px;
  }
}

@media (max-width: 910px) {
  .we__offer_content .blog-icon {
    font-size: 0.9rem;
    line-height: 1.6;
    gap: 0.9rem;
  }
}

@media (max-width: 910px) {

  .we__offer_content .blog-icon {

    font-size: 0.9rem;
    line-height: 1.6;
    gap: 0.9rem;
  }
}

@media (max-width: 900px) {
  .we__offer_card {
    width: 100%;
    gap: 2rem;
  }

  .we__offer_card {
    height: fit-content;
  }

  .we__offer_content h2 {
    font-size: 1.1rem;
    font-weight: 700;
    padding: 10px 0px;

  }

  .we__offer_content .subcontent p {
    font-size: o.9rem;
    font-weight: 500;
    padding: 0px;
  }
}

@media (max-width: 600px) {

  .we__offer_card {
    min-height: 500px;
  }

}

@media (max-width: 450px) {

  .we__offer_card {
    height: 490px;
  }

  .we__offer .swipe-heading h1 {

    font-size: 1.1rem;
    font-weight: 600;

  }

  .we__offer_card .course_img img {
    width: 100%;
    height: 200px;
  }

  .we__offer_content h2 {
    font-size: 0.8rem;
    font-weight: 600;
    line-height: 1.2rem;
  }

  .course_btn {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 3px;
  }

  .we__offer_content .subcontent p {
    font-size: 0.7rem;
    font-weight: 500;
    padding: 0px;
  }

  .we__offer_content .blog-icon {
    font-size: 0.6rem;
  }

  .we__offer_content .blog-icon .fa-regular {
    /* padding-left: 13px; */
    /* background-color: #fb8721; */
  }

  .we__offer_content .blog-icon .fa-regular {
    padding-right: 8 px;
    /* border-left: 1.5px solid #9a9bb2; */
    padding-left: 10px;
  }

  .we__offer_card .course_img .img-text .text {

    font-size: 0.6rem;

  }

}

@media (max-width: 345px) {

  .we__offer_card {
    height: 530px;
  }

  .we__offer_card .course_img img {
    width: 100%;
    height: 200px;

  }

  .we__offer_content .blog-icon {
    font-size: 0.3rem;
  }

  .we__offer_content .blog-icon .fa-regular {
    padding-right: 4 px;
    padding-left: 4px;
  }

  .we__offer_card .course_img .img-text .text {
    font-size: 0.6rem;
  }
}


/* Associations with partners section */
section.startups {
  margin-top: -40px;
}

section.startups .wrapper {
  padding: 0;
}

section.startups h5 {
  font-weight: 700;
  text-align: center;
  font-size: 1.4rem;
}

section.startups h5 span,
section.contact-us .right p {
  background: -webkit-linear-gradient(#fa2424, #fb8721);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
  section.startups h5 {
    font-size: 20px;
    text-align: left;
  }
}


/* tabs and tabs content section */

#downloads p {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 4px;
  color: rgb(1, 1, 68);
}

#downloads .nav-item {
  text-transform: uppercase;
  font-size: 1rem;
  margin-right: 3rem;
}

section div.wrapper {
  width: 95%;
  margin: 3rem auto;
  padding: 2.5rem 1.5rem;
}

.section-4 {
  padding: 1rem 6%;
}

.section-4 #tab-1-content,
.section-4 #tab-2-content,
.section-4 #tab-3-content,
.section-4 #tab-4-content {
  display: none;
  opacity: 0;
}

.show {
  display: block !important;
  opacity: 1 !important;
  transition: all 1000 ease-in;
}

.section-4 .current-tab {
  position: relative;
  /* background-image: url('./images/line-triangle.png'); */
}

.section-4 .current-tab::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);

  /* background-image: url('./images/line-triangle.png'); */
}

.section-4 .current-tab::after {
  content: "";
  position: absolute;
  right: 50%;
  top: 31px;
  transform: translateX(50%);
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 0;
  border-top: 20px solid #fa2424;
}

/* .section-4 .no-before:before{
  content:none;
}

.section-4 .no-after:after{
  content:none;
} */

.section-4 .tab-content-item .tabs-content-heading {
  color: #03003f;
  font-weight: 700;
}

.section-4 .tab-content-item .tabs-content-subheading {
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 500;
  color: #5e5e5e;
}

.section-4 .tab-content-item .row .list p {
  color: #03003f;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  section.section-4 {
    padding: 0 15px;
  }

  #downloads {
    padding-left: 0;
    padding-right: 0;
  }

  #downloads .nav {
    position: relative;
    top: 20px;
  }

  #downloads p {
    font-size: 17px;
  }

  #downloads .nav-item {
    margin-bottom: 15px;
    margin-right: 20px;
  }

  .section-4 .current-tab::after {
    display: none;
  }

  section.section-4 .tabs-content-heading {
    font-size: 24px;
  }

  .section-4 .tab-content-item .tabs-content-subheading,
  .section-4 .tab-content-item .row .list p {
    font-size: 15px;
  }
}

/* Subscribe */
.subscribe {
  position: relative;
  margin-bottom: -5rem;
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
  border-radius: 15px;
  color: #fff;
}

#subscribe h2 {
  font-weight: 700;
}

.form {
  display: grid;
  background: #ffffff;
  padding: 5px 5px;
  border-radius: 10px;
}

.form input {
  border-radius: 5px;
  border-style: none;
  color: rgb(29, 29, 29);
  background-color: white;
  padding: 9px 2.5rem;
  outline: none;
  width: 100%;
}

.btn-3 {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5em 1.5em;
  background: -webkit-linear-gradient(45deg, #ff0000, #ff8000);
  -webkit-text-fill-color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: 3s;
}

.btn-3:hover {
  background: -webkit-linear-gradient(45deg, #ff8000, #ff0000);
}

@media (max-width: 576px) {
  .form input {
    padding: 9px 1rem;
  }
}


/* Footer section */
footer {
  display: relative;
  background-color: #000121;
  /* height: 80vh; */
}

.footer-container {
  padding-top: 9rem !important;
  padding: 1rem 4%;
}

.footer-end-container {
  padding: 1rem 6%;
  /* border: 1px solid white; */
  color: #fff;
  margin: 0 auto;
  text-align: center;
}

footer .row h6 {
  font-size: 1.5rem;
  font-weight: 700;
}

#hr-line {
  width: 60px;
  background: var(--color-orange);
  height: 1.5px;
}

footer .contact-us p i {
  background: var(--color-orange);
  font-weight: 700;
}

footer .contact-us p div i {
  background: var(--color-orange);
  font-weight: 700;
}

.footer-end {
  background: -webkit-linear-gradient(0deg, #fa2424, #fb8721);
}

.social {
  padding-right: 5px;
}

.social a {
  height: 37px;
  width: 37px;
  background: #fa2424;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  border-radius: 15px;
  margin-top: 20px;
  transition: 1s;
}

.social a:hover {
  background: #fff;
  color: #fa2424;
}





.experts {
  display: flex;
  flex-direction: row;
}

.expertImage {
  margin-left: 1rem;
  margin-right: 1rem;
}

#left {
  margin-left: 0;
}

#right {
  margin-right: 0;
}

.expertImage .about p {
  padding-bottom: 1rem;
}

@media (max-width : 1025px) {
  .expertImage .about h4 {
    font-size: 1.2rem;
  }
}

@media (max-width: 1000px) {
  .experts {
    overflow-x: auto;
  }

  .expertImage img {
    width: 50vw;
  }

  .expertImage .about h4 {
    font-size: 1rem;
  }

  .expertImage .about p {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }

  #baoiam-info .col-sm-12:last-child {
    padding-bottom: 1.5em;
  }
}

@media only screen and (max-width:1000px) and (min-width:500px) {

  #virtues-tab-1-content.virtues-tab-content-item .row,
  #virtues-tab-2-content.virtues-tab-content-item .row,
  #virtues-tab-3-content.virtues-tab-content-item .row {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-content: center;
    align-items: center;
  }

  #virtues-tab-2-content.virtues-tab-content-item img,
  #virtues-tab-1-content.virtues-tab-content-item img,
  #virtues-tab-3-content.virtues-tab-content-item img {
    width: 100%;
    aspect-ratio: 16/12;
  }

}

@media (max-width:777px) and (min-width:591px) {
  #baoiam-info.section-3.mb-5 .user-image {
    width: 20em;
  }

  #baoiam-info .mr-lr-0 {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #baoiam-info .align-center {
    display: grid;
    place-items: center;
    margin: 0 auto;
  }

  #baoiam-info .col-sm-12:last-child {
    padding: 2em 2em 1.5em;
    margin: 0 auto !important;
    max-width: 50em;
  }

  .boxes.mb-2 {
    padding-bottom: 2em;
  }
}

@media (max-width:590px) and (min-width:200px) {
  #baoiam-info.section-3.mb-5 .user-image {
    width: 15em;
  }

  #baoiam-info .mr-lr-0 {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  #baoiam-info .align-center {
    display: grid;
    place-items: center;
    max-width: 20em !important;
    margin: 0 auto;
  }

  #baoiam-info .col-sm-12:last-child {
    padding: 0em 2em 1em;
  }

  .boxes.mb-2 {
    padding-bottom: 2em;
  }

  #virtues-tab-1-content.virtues-tab-content-item .row,
  #virtues-tab-2-content.virtues-tab-content-item .row,
  #virtues-tab-3-content.virtues-tab-content-item .row {
    display: grid;
    grid-template-columns: 1fr;
  }

  section .contact-us-box {
    padding-left: 2em;
  }

  .card-body .card-subtitle {
    font-size: 0.6rem !important;
  }

  a.card-action {
    padding: 0.6em;
  }

  .card-body .card-title {
    font-size: 0.8rem;
    margin-bottom: 0;
    padding-bottom: 0;

  }

  .card-body .card-text {
    font-size: 0.6rem;
  }

  .card-body a {
    font-size: 0.8rem;
  }
}

@media (max-width:575px) {
  .card-body .card-subtitle {
    font-size: 0.8rem;
  }

  a.card-action {
    padding: 1em;
  }

}

@media (max-width:500px) {
  section .contact-us-info {
    display: grid;
    row-gap: 1em;
    justify-content: center;
  }

  .decrease-font-size-small {
    font-size: clamp(1rem, calc(-0.256rem + 6vw), 3.5rem) !important;
  }

  .section-3 .explore-btn {
    padding: 0.7rem 1rem;
  }
}

@media (max-width:480px) {
  .blog-card-deck {
    grid-template-columns: 1fr;
  }

  .we__offer_card a {
    bottom: 3em;
    right: 1.5em;
  }

  .we__offer .course_img img {
    border-bottom-width: 1.2rem;
  }
}