.mycontainer {
    width: 86%;
    margin: auto;
    /* background-color: red; */
}

.special2 {
    background: linear-gradient(45deg, #fa2424, #fb8721);
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 2px solid;
    border-image-source: linear-gradient(45deg, #fa2424, #fb8721);
    border-image-slice: 1;

}
.special3 {
    background: linear-gradient(45deg, #fa2424, #fb8721);
    /* background: -webkit-linear-gradient(#eee, #333); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1rem;
    font-weight: bold;
  }

.smallheading {
    color: rgb(4, 4, 91);
    font-size: 2.5rem;
    font-weight: bold;
}

.team-container h1 {
    margin-top: 1%;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    color: rgb(4, 4, 91);
}

.team-container p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5% 15%;
    color: gray;
}

.members {
    width: 100%;
    display: flex;
    margin-bottom: 2%;

}

.member {
    width: 48%;
    background-color: aliceblue;
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    display: flex;
}

.member img {
    width: 60%;
    padding: 1%;
    border-radius: 20px;
}

.member-details p {
    margin: 5%;
    text-align: left;
    font-size: 1rem;
}

.member-details h1 {
    margin: 5%;
    text-align: left;
    font-size: 1.2rem;
}

.doublequote {
    margin: -3% 5%;
    text-align: left;
    display: block;
    font-size: 8rem;
    height: 20%;
    margin-top: 8%;
}

.team-container {
    margin-top: 2%;
}

.team-container .contact-heading-faq{
    background-color: #e8e8eb;
    padding: 10px 15px;
    border-radius: 5px;
    color: orangered;
    font-size: 1rem;
    font-weight: 550;
    text-align: center;
    margin: 0 45%;
    margin-top: 5%;
  }


@media (min-width: 1024px) {
    #carouselExampleControls {
        display: none;
    }

    .member img {
        width: 50%;
    }

}


@media screen and (max-width: 1368px) {
 .team-container .contact-heading-faq{
        display:none;
        }
}
@media screen and (max-width: 768px) {
    .members {
        display: none;
    }

    .member {
        width: 100%;
    }

   
}

@media (min-width: 450px) and (max-width: 768px) {
    .smallheading {
        font-size: 2.4rem;
    }

    .member img {
        width: 200px;
        height: 200px;
    }

    .doublequote {
        font-size: 2rem;
        display: inline;
    }

    .member-details p {
        font-size: 14px;
        margin-left: 5%;
        margin-top: 0;
    }
}

@media (max-width:450px) {
     .smallheading {
        font-size: 1.7rem;
    }
    .member {
        width: 98%;
        margin: auto;
    }

    .team-container h1 {
        margin-top: 15%;
        font-size: 25px;
        text-align: center;
        font-weight: bold;
        color: rgb(4, 4, 91);
    }
    
    .team-container p {
        font-size: 14px;
        text-align: justify;
        margin: 8.5% 4%;
        color: gray;
    }

    .member {
        display: block;
        margin-bottom: 4%;
    }

    .member img {
        width: 150px;
        margin-left: 25%;
        /* width: 100%;
        padding: 8%; */
    }

    .doublequote {
        font-size: 14px;
        display: inline;
    }

    .member-details {
        padding: 4%;
    }

    .member-details h1 {
        font-size: 1rem;
    }

    .member-details p {
        display: inline;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (min-width:450px) {
    /* .smallheading {
        font-size: 1.7rem;
    } */

    /* .member {
        width: 98%;
        margin: auto;
    } */

}